div {
    position: relative;
    border: 5px solid black;
    height: 300px;
    width: 400px;
}

p {
    border: 1px solid red;
    width: 50%;
    position: fixed;
    top: 100px;
    left: 100px;

    /* Remove default browser styling */
    
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}