body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}

header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;
}

section{
    margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}

h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}


.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}

ol{
	list-style:upper-roman; 
	margin:1em;
}

img{
	display: none;
}

footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}

@media screen and (min-width: 900px) {
    header{
        background-color: rgba(204,204,255);
        padding: 1%;
        margin: 1%;
    }
    
    footer {
        background-color: rgba(204,204,255);
        padding: 0;
        margin: 0;
    }

    #left {
        display: inline-block;
        float: left;
        width: 20%;
    }

    #center {
        display: inline-block;
        overflow: auto;
        width: 70%;
    }

    img {
        display: inline-block;
        width: 15%;
        margin: 0.5%;
    }

    section {
        margin-bottom: 0;
    }

    h1::after {
        content: "(I guess...)";
    }
}

@media print {
    h1 {
        font-size: 1em;
    }

    nav a{
        display: block;
        background-color: white;
        border: none;
        text-align: center;
        border-radius: 0;
        text-decoration: underline;
        padding: 0;
        margin: 0;
    }

    img {
        display: none ;
    }

    body {
        background-color: #ffffff ;
    }

    header, footer {
        background-color: #ffffff;
    }

    #left {
        display: block;
        float: none;
        width: 100%;
    }

    #center {
        display: block;
        width: 100%;
    }

}
